templates/src/markup/pages/news-inside.pug
extends ../layouts/default
include ../components/share/share

block vars
    -pageSettings.title = 'Новости внутренняя';

block content
    // Контент здесь
    .p-content
        .title-subpage.title-subpage_js_inited
            .title-subpage__top
                .title-subpage__title
                    .container
                        h1
                            span.title-subpage__brand Новости и мероприятия
                .title-subpage__company-contacts
                    .container
                        .title-subpage__contacts
                            a.title-subpage__back-link(href='http://investmo.zephyrlab.ddemo.ru/news') Назад
        .block-2.block-2_reverse
            .block-2__container
                .block-2__content
                    .one-news__date 24 май 2017
                    h3.one-news__title В Подмосковье началась реализация программы по реконструкции молочных ферм
                    .block-2__content-text
                    p.block-2__text.block-2__text_description
                        | 19 мая заместитель Председателя Правительства Московской области – министр инвестиций и инноваций Московской области Денис Буцаев посетил с рабочим визитом Пушкинский район.
                .block-2__pic
                    img.block-2__img(alt='', role='presentation', src='/uploads/news/1/c7b9cc91422a3c05b4087c70f9af6530.jpg')
        .block-1
            .block-1__container
                .block-1__content
                    .block-1__text
                    p
                        | 19 мая заместитель Председателя Правительства Московской области – министр инвестиций и инноваций Московской области Денис Буцаев посетил с рабочим визитом Пушкинский район.
                    p
                        | В ходе визита прошло совещание с руководителями сельскохозяйственных предприятий по вопросу проведения реконструкции молочных ферм. Напомним, в Подмосковье запущена уникальная программа субсидирования 50% затрат на оборудование при реконструкции молочных ферм. «На территории Подмосковья около 50 ферм, которые нуждаются в технологическом перевооружении, в областном бюджете мы на эти цели предусмотрели 200 млн рублей. Мы рассчитываем на то, что программа даст нам дополнительные 100 тыс. тонн молока в год, когда мы закончим реконструкцию всех ферм. Для нас программа особенно важна тем, что мы фактически даем вторую жизнь, причем вторую по совершенно иному качеству и количеству надаиваемого молока, тем фермам, которые существуют уже многие десятилетия. Для нас это и развитие существующих фермерских хозяйств, и возможность привлечения новых инвесторов, которые приходят в область», - отметил Денис Буцаев.
                    p
                        | Хозяйство «Зеленоградское» стало первой фермой, начавшей реконструкцию по данной программе. Проект животноводческой фермы на 260 фуражных голов с системой добровольного доения VMS будет завершен в ноябре текущего года. «Зеленоградское» обеспечивает свежим натуральным молоком детские сады, школы, больницы, жителей Пушкинского и соседних районов. В августе 2010 года запущено производство по переработке собственного молока и на сегодняшний день выпускается широкая линейка молочной продукции. В январе 2015 года в Берлине на международной выставке «Зеленая неделя-2015» продукция ЗАО «Зеленоградское» наградили пятью золотыми медалями за качество и безопасность выпускаемой продукции.
                    p
                        | «Молочная отрасль в настоящий момент наиболее особо привлекательна, если сравнивать последние несколько десятилетий. Большое количество интересантов, мы стараемся этих интересантов перевести в разряд инвесторов, реализующих проекты. Я могу сказать, что у Московской области хорошие перспективы, чтобы выполнить целевой показатель в 1 млн тонн. Из того дефицита, что у нас сейчас есть, примерно 350 тыс. тонн дефицита, половина закроется крупными хозяйствами, крупными проектами, которые мы уже привлекли на территорию региона, а половину мы как раз закроем теми проектами малого и среднего формата, примером которого является сегодняшний «Зеленоградский»», - резюмировал глава инвестиционного блока региона.

        .block-1__container.share-wrap
            +share()

templates/build/news-inside.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Новости внутренняя</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    
    <!--[if (gt IE 9)|!(IE)]><!--><link href="static/css/main.min.css" rel="stylesheet" type="text/css"><!--<![endif]-->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  </head>
  <body class="page">
    <header class="header">
      <div class="cecutient-header container">
        <div class="cecutient-header__left">
          <div class="cecutient-header__font"><a class="cecutient-header__font__item cecutient-header__font__item--md is-active" href="javascript:void(0)" data-size="md"><span>А</span></a><a class="cecutient-header__font__item cecutient-header__font__item--lg" href="javascript:void(0)" data-size="lg"><span>А</span></a><a class="cecutient-header__font__item cecutient-header__font__item--xl" href="javascript:void(0)" data-size="xl"><span>А</span></a>
          </div>
          <div class="cecutient-header__palette"><a class="cecutient-header__palette__item cecutient-header__palette__item--light is-active" href="javascript:void(0)" data-palette="light"><span></span></a><a class="cecutient-header__palette__item cecutient-header__palette__item--dark" href="javascript:void(0)" data-palette="dark"><span></span></a><a class="cecutient-header__palette__item cecutient-header__palette__item--sky" href="javascript:void(0)" data-palette="sky"><span></span></a><a class="cecutient-header__palette__item cecutient-header__palette__item--blue" href="javascript:void(0)" data-palette="blue"><span></span></a><a class="cecutient-header__palette__item cecutient-header__palette__item--brown" href="javascript:void(0)" data-palette="brown"><span></span></a>
          </div>
        </div>
        <div class="header__right">
          <div class="header__controls">
            <div class="header__off-image js-off-image">
            <svg class="icon icon_off-image header__off-image-ico" width="44px" height="33px">
                <use xlink:href="svg-symbols.svg#off-image"></use>
            </svg>
        
            </div>
            <div class="header__select">
              <select class="aaa" data-current-lang="ru" data-url="http://investmo.zephyrlab.ddemo.ru/language">
                <option>Ru</option>
                <option>En</option>
                <option>Ge</option>
              </select>
            </div>
            <div class="header__control header__control_theme_link" href="javascript:void(0)">
              <!-- i.icon.icon-desktop-->
            <svg class="icon icon_desktop control__icon" width="200px" height="200px">
                <use xlink:href="svg-symbols.svg#desktop"></use>
            </svg>
        
            </div>
          </div>
        </div>
      </div>
      <div class="header__container container"><a class="logo header__logo" href="index.html">
        <div class="logo__icon-wrap">
            <svg class="icon icon_logo logo__icon" width="37px" height="50px">
                <use xlink:href="svg-symbols.svg#logo"></use>
            </svg>
        
        </div>
        <div class="logo__text">
          <p class="logo__title">Инвестиционный портал
          </p>
          <div class="logo__subtitle">Московской области
          </div>
        </div></a>
        <div class="social social_theme_horizontal header__social">
          <p class="social__title">Соцсети:
          </p>
          <ul class="social__list">
            <li class="social__item"><a class="social__link" href="javascript:void(0)">
            <svg class="icon icon_vk social__icon" width="200px" height="200px">
                <use xlink:href="svg-symbols.svg#vk"></use>
            </svg>
        </a>
            </li>
            <li class="social__item"><a class="social__link" href="javascript:void(0)">
            <svg class="icon icon_fb social__icon" width="8px" height="17px">
                <use xlink:href="svg-symbols.svg#fb"></use>
            </svg>
        </a>
            </li>
            <li class="social__item"><a class="social__link" href="javascript:void(0)">
            <svg class="icon icon_in social__icon" width="14px" height="15px">
                <use xlink:href="svg-symbols.svg#in"></use>
            </svg>
        </a>
            </li>
          </ul>
        </div>
        <div class="header__control header__control_theme_burger">
          <button class="burger">
            <div class="burger__line">Открыть меню
            </div>
          </button>
        </div>
        <div class="header__right">
          <nav class="main-nav">
            <ul class="main-nav__list">
              <li class="main-nav__item"><a class="main-nav__link" href="javascript:void(0)">Инвесторам</a>
              </li>
              <li class="main-nav__item"><a class="main-nav__link" href="javascript:void(0)">Девелоперам</a>
              </li>
              <li class="main-nav__item"><a class="main-nav__link" href="javascript:void(0)">Владельцам бизнеса</a>
              </li>
              <li class="main-nav__item"><a class="main-nav__link" href="javascript:void(0)">Малому бизнесу</a>
              </li>
              <li class="main-nav__item"><a class="main-nav__link" href="javascript:void(0)">Об области</a>
              </li>
            </ul>
          </nav>
          <div class="header__controls">
            <div class="header__select">
              <select class="aaa" data-current-lang="ru" data-url="http://investmo.zephyrlab.ddemo.ru/language">
                <option>Ru</option>
                <option>En</option>
                <option>Ge</option>
              </select>
            </div><a class="header__control header__control_theme_link" href="javascript:void(0)">
            <svg class="icon icon_glasses control__icon" width="31px" height="14px">
                <use xlink:href="svg-symbols.svg#glasses"></use>
            </svg>
        </a>
          </div>
        </div>
      </div>
    </header>
    <!-- Контент здесь-->
    <div class="p-content">
      <div class="title-subpage title-subpage_js_inited">
        <div class="title-subpage__top">
          <div class="title-subpage__title">
            <div class="container">
              <h1><span class="title-subpage__brand">Новости и мероприятия</span></h1>
            </div>
          </div>
          <div class="title-subpage__company-contacts">
            <div class="container">
              <div class="title-subpage__contacts"><a class="title-subpage__back-link" href="http://investmo.zephyrlab.ddemo.ru/news">Назад</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-2 block-2_reverse">
        <div class="block-2__container">
          <div class="block-2__content">
            <div class="one-news__date">24 май 2017</div>
            <h3 class="one-news__title">В Подмосковье началась реализация программы по реконструкции молочных ферм</h3>
            <div class="block-2__content-text"></div>
            <p class="block-2__text block-2__text_description">19 мая заместитель Председателя Правительства Московской области – министр инвестиций и инноваций Московской области Денис Буцаев посетил с рабочим визитом Пушкинский район.</p>
          </div>
          <div class="block-2__pic"><img class="block-2__img" alt="" role="presentation" src="/uploads/news/1/c7b9cc91422a3c05b4087c70f9af6530.jpg"></div>
        </div>
      </div>
      <div class="block-1">
        <div class="block-1__container">
          <div class="block-1__content">
            <div class="block-1__text"></div>
            <p>19 мая заместитель Председателя Правительства Московской области – министр инвестиций и инноваций Московской области Денис Буцаев посетил с рабочим визитом Пушкинский район.</p>
            <p>В ходе визита прошло совещание с руководителями сельскохозяйственных предприятий по вопросу проведения реконструкции молочных ферм. Напомним, в Подмосковье запущена уникальная программа субсидирования 50% затрат на оборудование при реконструкции молочных ферм. «На территории Подмосковья около 50 ферм, которые нуждаются в технологическом перевооружении, в областном бюджете мы на эти цели предусмотрели 200 млн рублей. Мы рассчитываем на то, что программа даст нам дополнительные 100 тыс. тонн молока в год, когда мы закончим реконструкцию всех ферм. Для нас программа особенно важна тем, что мы фактически даем вторую жизнь, причем вторую по совершенно иному качеству и количеству надаиваемого молока, тем фермам, которые существуют уже многие десятилетия. Для нас это и развитие существующих фермерских хозяйств, и возможность привлечения новых инвесторов, которые приходят в область», - отметил Денис Буцаев.</p>
            <p>Хозяйство «Зеленоградское» стало первой фермой, начавшей реконструкцию по данной программе. Проект животноводческой фермы на 260 фуражных голов с системой добровольного доения VMS будет завершен в ноябре текущего года. «Зеленоградское» обеспечивает свежим натуральным молоком детские сады, школы, больницы, жителей Пушкинского и соседних районов. В августе 2010 года запущено производство по переработке собственного молока и на сегодняшний день выпускается широкая линейка молочной продукции. В январе 2015 года в Берлине на международной выставке «Зеленая неделя-2015» продукция ЗАО «Зеленоградское» наградили пятью золотыми медалями за качество и безопасность выпускаемой продукции.</p>
            <p>«Молочная отрасль в настоящий момент наиболее особо привлекательна, если сравнивать последние несколько десятилетий. Большое количество интересантов, мы стараемся этих интересантов перевести в разряд инвесторов, реализующих проекты. Я могу сказать, что у Московской области хорошие перспективы, чтобы выполнить целевой показатель в 1 млн тонн. Из того дефицита, что у нас сейчас есть, примерно 350 тыс. тонн дефицита, половина закроется крупными хозяйствами, крупными проектами, которые мы уже привлекли на территорию региона, а половину мы как раз закроем теми проектами малого и среднего формата, примером которого является сегодняшний «Зеленоградский»», - резюмировал глава инвестиционного блока региона.</p>
          </div>
        </div>
      </div>
      <div class="block-1__container share-wrap">
        <div class="share"><span class="share__text">Поделиться в соцсетях:</span>
          <div class="share__links"><a class="share__link social__link" href="http://vk.com/share.php?url=http://profitquery.com/blog/2015/09/vk-share-button/&amp;title=TITLE&amp;description=DESCRIPTION&amp;image=https://unsplash.com/photos/ed-hLWaknyk" target="_blank"><i class="icon social__icon icon-vk"></i></a><a class="share__link social__link" href="http://www.facebook.com/sharer.php?u=https://veliovgroup.com/article/QTA2494eT8ThrqcZi/social-share-buttons" target="_blank">
            <svg class="icon icon_fb social__icon" width="8px" height="17px">
                <use xlink:href="svg-symbols.svg#fb"></use>
            </svg>
        </a>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__container container">
        <div class="footer__left"><a class="logo logo_theme_light footer__logo" href="index.html">
          <div class="logo__icon-wrap">
            <svg class="icon icon_logo logo__icon" width="37px" height="50px">
                <use xlink:href="svg-symbols.svg#logo"></use>
            </svg>
        
          </div>
          <div class="logo__text">
            <p class="logo__title">Инвестиционный портал
            </p>
            <div class="logo__subtitle">Московской области
            </div>
          </div></a>
          <p class="footer__copyright">Любое копирование материалов с сайта без  письменного разрешения владельца запрещено © 2017 Инвестиционный портал
          </p>
        </div>
        <div class="footer__right">
          <nav class="main-nav main-nav_theme_inverse">
            <ul class="main-nav__list">
              <li class="main-nav__item"><a class="main-nav__link" href="javascript:void(0)">Инвесторам</a>
              </li>
              <li class="main-nav__item"><a class="main-nav__link" href="javascript:void(0)">Девелоперам</a>
              </li>
              <li class="main-nav__item"><a class="main-nav__link" href="javascript:void(0)">Владельцам бизнеса</a>
              </li>
              <li class="main-nav__item"><a class="main-nav__link" href="javascript:void(0)">Малому бизнесу</a>
              </li>
              <li class="main-nav__item"><a class="main-nav__link" href="javascript:void(0)">Об области</a>
              </li>
            </ul>
          </nav>
          <div class="footer__socials">
            <form class="subscribe-box subscribe-box_theme_dark footer__subscribe-box"><input class="subscribe-box__input" type="email" placeholder="Ваш е-mail" required="required"/>
              <button class="subscribe-box__submit" type="submit">Отправить
            <svg class="icon icon_arrow subscribe-box__icon" width="9px" height="14px">
                <use xlink:href="svg-symbols.svg#arrow"></use>
            </svg>
        
              </button>
            </form>
            <div class="social social_theme_horizontal footer__social">
              <p class="social__title">Мы в соцсетях:
              </p>
              <ul class="social__list">
                <li class="social__item"><a class="social__link" href="javascript:void(0)">
            <svg class="icon icon_vk social__icon" width="200px" height="200px">
                <use xlink:href="svg-symbols.svg#vk"></use>
            </svg>
        </a>
                </li>
                <li class="social__item"><a class="social__link" href="javascript:void(0)">
            <svg class="icon icon_fb social__icon" width="8px" height="17px">
                <use xlink:href="svg-symbols.svg#fb"></use>
            </svg>
        </a>
                </li>
                <li class="social__item"><a class="social__link" href="javascript:void(0)">
            <svg class="icon icon_in social__icon" width="14px" height="15px">
                <use xlink:href="svg-symbols.svg#in"></use>
            </svg>
        </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="static/js/main.min.js"></script>
  </body>
</html>
